body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.jumbotron {
  color: #b0c4de;
  background: url('../../shizuku.jpg') no-repeat left center;
  height: 350px;
}

iframe {
  border: 1px solid #ddd;
  border-radius: 5px;
}
